.grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    width: 618px;
    height: 618px;
  }
  
  .red {
    width: 200px;
    height: 200px;
    border-style: solid;
    border-color: red;
    color: red;
  }
  .yellow {
    width: 200px;
    height: 200px;
    border-style: solid;
    border-color: yellow;
    color: yellow;
  }
  .green {
    width: 200px;
    height: 200px;
    border-style: solid;
    border-color: green;
    color: green;
  }
  
  .mole {
    background-image: url("dog.png");
    background-size: cover;
  }